
# s.dependency 'MatrixSDK', "0.16.8"
github "xinsight/matrix-ios-sdk" "carthage"

#  s.dependency 'HPGrowingTextView', '~> 1.1'


# s.dependency 'libPhoneNumber-iOS', '~> 0.9.13'
github "iziz/libPhoneNumber-iOS"

# s.dependency 'DTCoreText', '~> 1.6.23'
github "Cocoanetics/DTCoreText" "1.6.23" 

  # s.dependency 'cmark', '~> 0.24.1'


