
# s.dependency 'MatrixSDK', "0.16.8"
github "xinsight/matrix-ios-sdk" "carthage"

# github "HansPinckaers/GrowingTextView" "1.1"
github "xinsight/GrowingTextView" "carthage"

# s.dependency 'libPhoneNumber-iOS', '~> 0.9.13'
github "iziz/libPhoneNumber-iOS"

github "Cocoanetics/DTCoreText" "1.6.23"
# !: needed a newer version to get the shared target
github "Cocoanetics/DTFoundation" "1.7.14"

# s.dependency 'cmark', '~> 0.24.1'


